################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GraphSynthSourceFiles
/.vs
/LAMMPSharp/obj
/LAMMPSnow/obj
/OpenBabelFunctions/obj
/plugins/GraphSynth.Search/obj
